@model Bilioteca.Models.BorrowFormViewModel

@{
    ViewData["Title"] = "Retirar";
}

<h2>Retirar</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Borrow">
            <div class="form-group">
                <input type="hidden" asp-for="Book.Id" />
                <input type="hidden" asp-for="Book.Title " />
                <input type="hidden" asp-for="Book.Author" />
                <input type="hidden" asp-for="Book.Year" />
                <input type="hidden" asp-for="Book.Status" />

                @Html.DisplayName("Selecione o usuário")
                <select asp-for="Book.UserId" asp-items="@(new SelectList(Model.Users,"Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Emprestar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
